PORT = 5000
NODE_ENV= "development"
mongoUri = "mongodb://localhost:27017/ecommerce"
MONGOURI = "mongodb://localhost:27017/ecommerce"
MONGO_DB_URL = 'mongodb://localhost:27017/ecommerce'
JWT_SECRET = "your_jwt_secret_key_is_strong_and_should_be_changed_and_kept_secure_and_long_enough_to_prevent_brute_force_attack"
JWT_EXPIRES_IN = "1h"
